<center><table border="1"><tr><td><center><i>Used packages</i></center></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/GaudiInterface/html/index.html">External/GaudiInterface</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/AtlasPolicy/html/index.html">AtlasPolicy</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/Identifier/html/index.html">DetectorDescription/Identifier</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/IdDict/html/index.html">DetectorDescription/IdDict</a></td></tr>
<tr><td><a href="/afs/cern.ch/user/l/lucotte/scratch0/12.3.0/InstallArea/doc/IdDictParser/html/index.html">DetectorDescription/IdDictParser</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/AtlasSEAL/html/index.html">External/AtlasSEAL</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/AthenaKernel/html/index.html">Control/AthenaKernel</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/AtlasDetDescr/html/index.html">DetectorDescription/AtlasDetDescr</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasCore/2.3.0/InstallArea/doc/StoreGate/html/index.html">Control/StoreGate</a></td></tr>
<tr><td><a href="/afs/cern.ch/atlas/software/builds/AtlasConditions/2.3.0/InstallArea/doc/CaloIdentifier/html/index.html">Calorimeter/CaloIdentifier</a></td></tr>
</table></center>
